---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Curatela" locale="it">
  <main class="no-scrollbar lg:mb-24">
    <div class="bg-blu px-3 py-2 text-4xl text-white">Curatela</div>

    <!-- TEXT 1 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light ">Annalisa Dominoni, Benedetto Quaquaro</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Ministro degli Affari Esteri e della Cooperazione Internazionale</h2> -->

    <img src="../../curatorship/DSI_a+b_foto-in-blu.jpg" alt="Annalisa Dominoni, Benedetto Quaquaro" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Annalisa Dominoni e Benedetto Quaquaro sono architetti, designer, Ph.D. tra i massimi esperti di Architettura e Design per lo Spazio e Ambienti Estremi. Professori al Politecnico di Milano, da più di un venticinque anni conducono attività di ricerca e didattica al Dipartimento e alla Scuola del Design. Responsabili di </span>ESA_LAB@PoliMi_Design <span class="font-NM-Book"> e del primo e unico corso di Design Spaziale </span>Space4InspirACTion <span class="font-NM-Book">supportato dall'Agenzia Spaziale Europea (ESA).<br><br>

      Collaborano con le principali industrie spaziali e con aziende del design generando innovazione attraverso trasferimenti di conoscenza e tecnologie fra Spazio e Terra con il fine di creare nuovi habitat extraterrestri e oggetti d'uso per incrementare il  benessere, la sostenibilità e le performance degli astronauti in ambienti confinati e a gravità ridotta. Per Thales Alenia Space hanno progettato <em>Sensory Space Station</em>, un nuovo concept di stazione orbitante che introduce un modulo per l'intrattenimento degli astronauti e lo stile Made in Italy con soluzioni innovative di luce, colore e materiali per bilanciare la mancanza di stimoli naturali in ambienti confinati e rispondere al bisogno di privacy.<br><br>

      Hanno pubblicato più di 200 saggi scientifici sulla cultura del progetto che negli anni hanno contribuito ad affermare nel mondo il ruolo strategico del Design per lo Spazio. Tra le pubblicazioni recenti <em>Design for Sustainability and Inclusion in Space</em>, <em>Springer</em> (2024), <em>Le Città dell'Universo. Come sarà abitare nello Spazio</em>, Il Saggiatore (2023).<br><br>

      I loro progetti sono stati esposti in diverse mostre prestigiose, tra cui la 23a Triennale Internazionale <em>Unknown Unknowns. An Introduction to Mysteries</em> (Milano 2023).<br><br>

      Sono Italian Design Ambassador, visiting professors, guest speakers di convegni scientifici internazionali ed eventi divulgativi per il grande pubblico.<br><br>

      Nel 2011 fondano lo studio di design </span>(a+b) dominoni quaquaro<span class="font-NM-Book"> che opera in aree progettuali molto diverse: transportation design per la grande industria, fashion tech, collezioni di oggetti e furniture per aziende, limited editions per gallerie d'arte e design. Hanno progettato i treni <em>Leonardo</em> della metropolitana milanese per ATM prodotti da Hitachi Rail Italy nel 2015 e gli oggetti acustici <em>Pinna</em> per Caimi Brevetti nel 2019. Entrambi i progetti hanno ricevuto i premi: <em>ADI Design Index, Premio Compasso d'Oro XXV, Premio Eccellenze della Lombardia</em>, e <em>DIA Design Intelligence Award</em>.</span><br><br><br>

      Annalisa Dominoni <span class="font-NM-Book">è stata fondatrice del <em>Millennium Charter of Space Architecture</em> (2002, Huston) e Principal Investigator degli esperimenti <em>VEST</em> e <em>GOAL</em> di sistemi integrati di abbigliamento ed equipaggiamenti per astronauti da lei progettati che sono stati testati sulla Stazione Spaziale Internazionale. Ha ricevuto diversi riconoscimenti prestigiosi, fra i quali: <em>Premio Compasso d'Oro XVII, Premio Compasso d'Oro XX Selezione per la Ricerca, ESA Eneide Mission Team Achievement Award, Scientific Award for Young Researchers</em>.<br><br></span>

      Benedetto Quaquaro <span class="font-NM-Book">ha iniziato la carriera di designer alla <em>Tecno</em> di Osvaldo Borsani, collaborando con rinomati architetti come Norman Foster e Gae Aulenti, e ha sviluppato collaborazioni con importanti artisti quali Getulio Alviani, Arnaldo Pomodoro, Luigi Veronesi e Bruno Munari. Ha curato diversi eventi artistici e mostre e ha realizzato progetti negli ambiti più diversi, dall'edilizia industriale in Cina per <em>Foster & Wheeler</em> ai sedili basculanti del <em>Cesa 1882</em>, off shore pluricampione del mondo.</span>
    </p>

    <!-- TEXT 2 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">ESA_LAB@POLIMI_DESIGN</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Direttore Generale per la Promozione del Sistema Paese</h2> -->

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Il Design per lo Spazio al Politecnico di Milano nasce con il Dottorato di Ricerca in Disegno Industriale di Annalisa Dominoni <em>Disegno Industriale per la Progettazione Spaziale</em> (1997-2000) in un momento storico e politico di grande eccitazione per l'esplorazione umana interplanetaria. Nel 1998 inizia l'assemblaggio in orbita della Stazione Spaziale Internazionale, mentre al Politecnico di Milano si costituisce nel 2000 la Scuola del Design che, grazie alla sua natura multidisciplinare e Poli-tecnica, favorisce l'esplorazione e l'approfondimento di nuovi temi di ricerca di avanguardia.<br><br>

      Da quel momento si sono susseguite collaborazioni con le principali agenzie e industrie spaziali internazionali e con aziende del design italiano per sviluppare nuovi progetti dedicati a migliorare il benessere e le performance degli astronauti in ambienti confinati e a gravità ridotta, ma anche a creare trasferimenti di conoscenza fra lo Spazio e la Terra e viceversa. Il Design per lo Spazio ha iniziato ad affermarsi come disciplina autonoma evolvendosi in un percorso progettuale di ricerca e didattica che ha generato gli esperimenti <em>VEST</em> (2001) e <em>GOAL</em> (2005) condotti in orbita sulla Stazione Spaziale Internazionale.<br><br>

      Nel 2016 l'Agenzia Spaziale Europea (ESA) affida ad Annalisa Dominoni la direzione del progetto <em>Couture in Orbit</em> per l'Italia, una collezione di abiti creata per essere indossata sulla Terra che integra tecnologie spaziali. I risultati sono stati presentati con una sfilata al London Science Museum riscuotendo un grande interesse dai media. Si consolida il rapporto con ESA, che nel 2017 promuove e supporta la creazione del primo e unico corso di Design Spaziale <em>Space4InspirACTion</em> al Politecnico di Milano, tenuto da Annalisa Dominoni e Benedetto Quaquaro, e che creerà i presupposti per la nascita di <em>ESA_LAB@PoliMi_Design</em>.<br><br>

      Nel 2022 ESA e il Politecnico di Milano istituzionalizzano la collaborazione con <em>ESA_LAB@PoliMi_Design</em> allo scopo di intensificare la ricerca e la promozione dei risultati dei Dipartimenti dell'Ateneo.<br><br>

      <em>ESA_LAB@PoliMi_Design</em>, diretto da Annalisa Dominoni e Benedetto Quaquaro, affianca all'attività di ricerca e didattica la promozione e diffusione dei risultati attraverso la progettazione e l'organizzazione di mostre (<em>Space4InspirACTion, 23a Triennale Internazionale Unknown Unknowns. Un Introduction to Mysteries; Space Design for New Human Beings, 1st Festival of the New European Bauhaus, Fondazione Brodolini</em>) la partecipazione a eventi di divulgazione scientifica (<em>Festival della Scienza di Genova; Focus Live, Museo della Scienza e della Tecnologia Leonardo Da Vinci</em>) e la pubblicazione di articoli e libri di carattere scientifico che in più di venticinque anni hanno contribuito ad affermare nel mondo il ruolo dirompente e strategico del <em>Design Spaziale Italiano</em>.</span>
    </p>

    <!-- TEXT 3 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">SPACE4INSPIRACTION</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Rettrice del Politecnico di Milano</h2> -->

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Nel 2017 nasce <em>Space4InspirACTion</em>, il primo e unico corso di Space Design al mondo direttamente supportato dall'Agenzia Spaziale Europea, creato e diretto da Annalisa Dominoni e Benedetto Quaquaro alla Scuola del Design del Politecnico di Milano, Laurea Magistrale Internazionale in Integrated Product Design.<br><br>

      L'obiettivo è avvicinare allo Spazio i migliori studenti interessati all'innovazione in una nuova sfida che unisce ricerca e didattica per creare progetti dirompenti in ambienti confinati e a gravità ridotta. Ogni anno esperti dell'Agenzia Spaziale Europea suggeriscono i temi progettuali da sviluppare e i testimonial da coinvolgere, che possono essere astronauti, ricercatori e scienziati. Per ogni progetto sono selezionate due aziende, una di Spazio e una di Design, che contribuiscono allo sviluppo dei concept progettuali integrando competenze tecnologiche e produttive. Questo processo, oltre a incrementare creatività e capacità di <em>visioning</em>, genera innovazione con trasferimenti dallo Spazio alla Terra e viceversa di tecnologie, buone pratiche e comportamenti.<br><br>

      I temi sviluppati nei vari anni affrontano diverse complessità e scale: dal cibo all'igiene personale, dal fitness all'abbigliamento per le attività extraveicolari, dalla stazione Cislunare <em>Gateway</em> alle future basi per la Luna e Marte fino a futuristici wellness hotel che indagano il tema dell'accoglienza per le stazioni commerciali. La sostenibilità è trasversale a tutti i progetti, così come il comfort per incrementare benessere e prestazioni, e di recente anche l'inclusione, grazie alla collaborazione con il primo parastronauta dell'ESA John McFall, testimonial del corso, con il quale sono stati progettati oggetti prostetici definendo un concetto di “nuova normalità” per un “nuovo ambiente”.<br><br>

      Fra le principali aziende che negli anni hanno supportato il corso, prima fra tutte Thales Alenia Space, ci sono Argotech, Barilla Blu Rhapsody, Caimi Snowsound, Dainese, Foscarini, Italesse, Jacuzzi, Virgin Galactic, Technogym.<br><br>

      A partire dalla prima edizione nel 2017 con la mostra <em>Space4InspirACTion. Progetti e Visioni per lo Spazio</em> al Planetario Ulrico Hoepli di Milano, che si è estesa nelle sedi di ESA ESOC a Darmstadt e a Roma, si sono susseguiti eventi e mostre in sedi prestigiose, come <em>Space Design for New Human Beings</em> (organizzata nel 2022 per il 1° <em>Festival of the New European Bauhaus</em> alla Fondazione Brodolini durante la Milano Design Week) e un'intera sezione dedicata a <em>Space4InspirACTion</em> alla 23a Esposizione Internazionale di Triennale Milano <em>Unknown Unknowns. An Introduction to Mysteries</em>. In occasione della partecipazione a Focus Live Festival, al Museo della Scienza e della Tecnologia Leonardo Da Vinci, il corso <em>Space4InspirACTion</em> vince il Primo <em>Premio Raymond Zreick per la Tecnologia e l'Innovazione</em>. Nel 2024 i progetti più significativi sono selezionati per far parte di <em>Design Spaziale Italiano</em>.</span>
    </p>

    <!-- TEXT 4 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">BIBLIOGRAFIA</h1>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Dominoni, A. (2024) <span class="font-NM-Medium">Design for Sustainability and Inclusion in Space. How New European Bauhaus Principles Drive Nature & Parastronauts Projects.</span> SpringerBriefs in Applied Sciences and Technology. Springer.<br><br>

      Dominoni, A., Quaquaro, B. (2023) <span class="font-NM-Medium">Le città dell'universo. Come sarà abitare nello spazio.</span> Il Saggiatore.<br><br>

      Dominoni, A. (2022) <span class="font-NM-Medium">Rethinking the Design of Care Looking at Outer Space. How Art and Design Role can Improve the Living Conditions of Hypersensitive People and the Whole Society.</span> In: A. Dominoni, F. Scullica (edited by) Designing Behaviours for Well-Being Spaces. How Disruptive Approaches Can Improve Living Conditions. Design International. Franco Angeli. OA.<br><br>

      Dominoni, A. (2022) <span class="font-NM-Medium">International Space Station as Time Machine. New Routines of Everyday Life: Establishing a Time in Space.</span> In: A. Barbara, S. Gramegna (edited by) Time-Based Design Paradigms. Design International. Franco Angeli. OA.<br><br>

      Dominoni, A. (2021) <span class="font-NM-Medium">Design of Supporting Systems for Life in Outer Space. A Design Perspective on Space Missions Near Earth and Beyond.</span> Research for Development Editorial Series. Springer.<br><br>

      Dominoni, A. (2019) <span class="font-NM-Medium">Nuovi scenari abitativi per la stazione Cislunare Gateway e per le colonie lunari.</span> In: Kalin S,Raimondo C, Massicci M (edited by) L'avventura dell'uomo nello Spazio. Dalla Luna a Marte. 2. 2024. Ritorno sulla Luna, Vol. 2, pp. 088-097, Le Scienze. GEDI Gruppo Editoriale. Puntoweb.<br><br>

      Dominoni A., Quaquaro, B., Pappalardo, R. (2018) <span class="font-NM-Medium">Space Design Learning. An Innovative Approach of Space Education through Design.</span> In: Proceedings of 69th International Astronautical Congress (IAC), Bremen 01.05 October 2018.<br><br>

      Dominoni, A., Quaquaro, B., Fairburn, S. (2017) <span class="font-NM-Medium">Space4Inspiration: Survival Lab. Designing Countermeasures for Natural Disasters.</span> In: Design for Next. Proceedings of 12th European Academy of Design Conference (EAD). Rome 12-14 April 2017. Issue Supplement of The Design Journal, Vol. 20. Taylor & Francis Group.<br><br>

      Dominoni, A., Quaquaro, B. (2017) <span class="font-NM-Medium">Future Fashion. Space Research Inspires Innovation in Fashion.</span> In: The Space Journal, ROOM, Vol. 10. The Aerospace International Research Center GmbH Publishers Press.<br><br>

      Dominoni. A., Fairburn, S. (2015) <span class="font-NM-Medium">Designing from the Unfamiliar: How Designing for Space and Extreme Environments can Generate Spin-Offs and Innovative Products.</span> In: The Value of Design Research. Proceedings of 11th European Academy of Design Conference (EAD). Paris 22-24 April 2015.<br><br>

      Dominoni, A. (2015) <span class="font-NM-Medium">For Designers with Their Head Beyond the Clouds.</span> Maggioli Editore.<br><br>

      Dominoni, A. (2010) <span class="font-NM-Medium">Cosmic Space as a Key for Creative Design. How Industrial Design in Cosmic Space is Useful to Exemplify an Innovative Methodology for Design Process in Education.</span> In: Proceedings of International Technology, Education and Development Conference (INTED). Valencia 08-10 March 2010.<br><br>

      Dominoni, A. (2005) <span class="font-NM-Medium">VEST. Clothing Support System On-Orbit Validation.</span> In: Proceedings of 35th International Conference on Environmental Systems (ICES). Rome 11-14 July 2005. SAE Society of Automotive Engineers.<br><br>

      Dominoni, A. (2002) <span class="font-NM-Medium">Space Architecture Education in Milan.</span> In: Proceedings of 1st Space Architecture Symposium (SAS). Houston 10-11 October 2002. AIAA American Institute of Aeronautics and Astronautics.<br><br>

      Dominoni, A. (2002) <span class="font-NM-Medium">Designing for Space.</span> In: Proceedings of 1st Space Architecture Symposium (SAS). Houston 10-11 October 2002. AIAA American Institute of Aeronautics and Astronautics.<br><br>

      Dominoni, A. (2002) <span class="font-NM-Medium">Disegno Industriale per la Progettazione Spaziale / Industrial Design for Space.</span> Silvana Editoriale.<br><br>

      Dominoni, A. (1998) <span class="font-NM-Medium">IVA Clothing Support System.</span> In: Proceedings of Space Exploration and Resources Exploitation. ESA Explospace Workshop. Cagliari 20-22 October 1998. ESA European Space Agency.</span>
    </p>
  
  </main>
</Layout>

<style></style>
