---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mostre" locale="it">
  <div class="bg-blu px-3 py-2 text-2xl lg:text-4xl text-white">Mostre</div>
  <main class="no-scrollbar lg:mb-24">
    
    <!-- TEXT 1 : Progetto -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light ">IL PROGETTO MULTIMEDIALE</h1>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book"><em>Design Spaziale Italiano</em> è un progetto multimediale itinerante curato da Annalisa Dominoni e Benedetto Quaquaro e promosso dal Ministero degli Affari Esteri e della Cooperazione Internazionale al fine di valorizzare il ruolo strategico del Design per lo Spazio, un settore all'avanguardia nel nostro Paese di cui il Politecnico di Milano è stato pioniere già dalla fine degli anni Novanta, contribuendo al suo sviluppo e alla sua affermazione.<br><br>
        
      Il progetto, presentato in anteprima nelle sedi diplomatiche di Bruxelles, Praga, Parigi, Londra e Vienna in occasione della Giornata Nazionale dello Spazio 2024, si compone di eventi e mostre di prodotti fisici, contenuti digitali, installazioni, animazioni e video che sviluppano differenti forme di narrazione <em>site-specific</em> per comunicare come la <em>forma</em> e il <em>senso</em> degli oggetti che usiamo nelle nostre attività quotidiane possono mutare nella transizione dalla Terra allo Spazio.<br><br>
      
      Il catalogo raccoglie queste narrazioni dando voce alla ricerca e didattica sviluppata con il supporto dell'Agenzia Spaziale Europea al Dipartimento e alla Scuola del Design del Politecnico di Milano, che nell'arco di oltre un quarto di secolo di progetti e sperimentazioni ha trasformato il Design per lo Spazio in una disciplina autonoma e d'avanguardia, capace di fare da ponte fra natura umana e tecnologia e di creare trasferimenti di conoscenza fra industria spaziale e aziende del design.<br><br> 
      
      L'obiettivo è generare innovazione e benessere nello Spazio, aumentando il comfort, la sostenibilità, la bellezza, e l'inclusione, grazie alla collaborazione con il primo parastronauta europeo John McFall. I contenuti teorico-scientifici e i concetti fondativi del Design per lo Spazio sono raccontati attraverso animazioni e video dei Principi e delle Sfide che caratterizzano e guidano la progettazione di ambienti confinati e a gravità ridotta. I contenuti progettuali raccolgono 36 Progetti presentati attraverso immagini e mockup di oggetti spaziali esposti nell'installazione</span> “Le Città dell'Universo”<span class="font-NM-Book">, i quali evidenziano il ruolo strategico del design nel ridefinire una “nuova normalità” per un “nuovo ambiente” in grado di ristabilire un nuovo equilibrio di forze fisiche ed emotive, gestualità e relazioni. La gravità è il grande Designer che plasma gli oggetti, trasformandone l'identità.
      </span>
    </p>


    <!-- TEXT 2 : Mostra -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">LA MOSTRA</h1>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">La mostra <em>Design Spaziale Italiano</em> ci proietta verso un futuro in cui sarà possibile abitare su altri corpi celesti, confrontandoci con ambienti confinati e gravità ridotta che non fanno parte dell'esperienza terrestre e che trasformano il nostro modo di vivere: cambia la fisiologia, la forma del corpo, la postura, la percezione dell'intero ambiente, cambiano i gesti e i comportamenti, le relazioni con gli oggetti.<br><br>
      
      Le tematiche affrontate costruiscono un racconto in cui emerge il ruolo del design capace di incrementare il benessere e generare innovazione attraverso progetti sostenibili, inclusivi e belli, in un ambiente estremo e pieno di sfide.<br><br>
      
      I contenuti teorico-scientifici che caratterizzano e guidano la progettazione sono distillati in </span>8 Principi di Design Spaziale<span class="font-NM-Book">, che attraverso animazioni e icone raccontano che cosa significano l'<em>estremo</em>, il <em>confinamento</em>, la <em>gravità</em> e il <em>disorientamento</em> che ne deriva, e come il design può contrastare gli effetti negativi di queste condizioni, progettando <em>strutture di protezione</em>, ambienti che possano riattivare i <em>sensi</em> nonostante la mancanza di stimoli naturali, oggetti in grado di sfruttare la gravità per ridurre il <em>tempo</em> di adattamento al nuovo ambiente.<br><br>
      
      Le </span>12 Sfide di Design Spaziale<span class="font-NM-Book"> completano i contenuti fondativi di riferimento per il design al fine di migliorare la qualità della vita e le performance degli astronauti, analogamente a quanto accade nella ridefinizione di concetti di forte impatto sociale, come la disabilità, che nello Spazio può essere annullata.<br><br>
      
      I contenuti progettuali, infine, raccolgono </span>36 Progetti<span class="font-NM-Book"> di habitat extraterrestri, equipaggiamenti, abbigliamento e oggetti indossabili che propongono soluzioni innovative per vivere e lavorare nello Spazio.<br><br>
      
      La mostra è stata concepita flessibile nelle sue diverse narrazioni e modulare, al fine di adattarsi agevolmente ai diversi contesti delle sedi, sia fisici che tematici.
      </span>
    </p>


    <!-- TEXT 3 : Installazione -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">L'INSTALLAZIONE "LE CITT&Agrave; DELL'UNIVERSO"</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Ministro degli Affari Esteri e della Cooperazione Internazionale</h2> -->

    <img src="../../exhibitions/Installazione_Citta_Universo-00.jpg" alt="Città dell'Universo" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">L'Ambasciata d'Italia a Praga ha ospitato l'installazione “Le Città dell'Universo”, progettata da Annalisa Dominoni e Benedetto Quaquaro in dialogo fra passato e futuro nell'ambiente denso di storia delle Scuderie, e ispirata al libro omonimo scritto dai curatori.<br><br>
        
      Sette torri luminose evocano lo skyline di una ipotetica città extraterrestre rimandando a visioni di un futuro sempre più vicino. All'interno di teche trasparenti, che ricreano volumi svuotati sottolineati da esili linee di luce, sono contenuti i modelli e prototipi bianchi di oggetti spaziali inediti - frutto di anni di ricerca e sviluppo sui diversi aspetti che riguardano la vita nello Spazio - che mostrano come la gravità influisca in modo determinante sulla forma e sull'uso di tanti prodotti quotidiani rendendoli a prima vista estranei e irriconoscibili.
      </span>
    </p>

      <img src="../../exhibitions/Installazione_Citta_Universo-06.jpg" alt="Città dell'Universo" class="px-3 pb-3 w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-02.jpg" alt="Città dell'Universo" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-05.jpg" alt="Città dell'Universo" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-03.jpg" alt="Città dell'Universo" class="px-3 pt-3 pb-9w-full" />
      <!-- <p class="p-3 text-sm sm:text-sm md:text-base lg:text-sm xl:text-base mb-12">
        <span class="font-NM-Book">Nelle immagini:</span><br><br>
          Modelli e prototipi di oggetti spaziali<br>
          <span class="font-NM-Book">Utensili per preparare e consumare cibo stampato in 3D, attrezzi per fitness, oggetti prostetici per amplificare le performance.</span>
      </p> -->
  
    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mb-12">
      <span class="font-NM-Book">Il pubblico è chiamato a immergersi in una biofisica sconosciuta per capire che cosa significa progettare per lo Spazio e che cosa implica, quali sono i principi che guidano il design al fine di migliorare il comfort e le performance degli astronauti e di conseguenza, determinare il successo dell'intera missione: dalla Stazione Spaziale Internazionale ai progetti visionari degli insediamenti lunari e marziani si manifesta il futuro dell'esplorazione interplanetaria.<br><br>
      
      La scelta dell'alluminio per l'allestimento, materiale molto utilizzato in ambito aerospaziale, è una citazione che rimanda al tema della sostenibilità, principio virtuoso alla base del Design per lo Spazio: il particolare profilo utilizzato per creare le torri, fornito da Fiera Milano, al termine della mostra viene infatti totalmente riutilizzato.<br><br>
      
      “Le Città dell'Universo” evidenzia come il Design, nell'unire creatività e innovazione, possa diventare ponte fra scienza, tecnologia e bellezza creando scenari di futuri possibili, perché basati su tecnologie esistenti o in corso di sviluppo, capaci di stimolare emozioni e riflessioni su come si svilupperà la vita al di fuori della Terra, sia nello Spazio che su altri pianeti.
      </span>
    </p>


    <!-- TEXT 4 : Bruxelles -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Bruxelles</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">28.11.2024 — Residence Palace</h2>

    <img src="../../exhibitions/DSI_Bruxelles-01.jpg" alt="DSI in Bruxelles" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Le Città dell'Universo” con Annalisa Dominoni e Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Ospitato da:</span><br> 
      Rappresentanza Permanente d'Italia presso l'Unione Europea<br> 
      <span class="font-NM-Book">Vincenzo Celeste / Rappresentante Permanente<br> 
      Stefano Verrecchia / Vice Rappresentante Permanente</span>
    </p>

      <img src="../../exhibitions/DSI_Bruxelles-02.jpg" alt="DSI in Bruxelles" class="px-3 pb-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-05.jpg" alt="DSI in Bruxelles" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-06.jpg" alt="DSI in Bruxelles" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-07.jpg" alt="DSI in Bruxelles" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-08.jpg" alt="DSI in Bruxelles" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-09.jpg" alt="DSI in Bruxelles" class="px-3 pt-3 pb-9 w-full" />

    <!-- TEXT 5 : Praga -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Praga</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">04.12 / 20.12.2024 — Scuderie dell'Ambasciata d'Italia a Praga</h2>

    <img src="../../exhibitions/DSI_Praga-02.jpg" alt="DSI in Praga" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk e installazione “Le Città dell'Universo” con Annalisa Dominoni e Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Ospitato da:</span><br> 
      Ambasciata d'Italia a Praga<br> 
      <span class="font-NM-Book">Mauro Marsili / Ambasciatore d'Italia<br>
        Maria Cristina Falvella / Addetta Spaziale<br>
        Giovanni Vietri / Responsabile Amministrativo<br>
        Svetlana di Carlo / Team Spaziale</span>
    </p>

      <img src="../../exhibitions/DSI_Praga-01.jpg" alt="DSI in Praga" class="px-3 pb-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-04.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-03.jpg" alt="DSI in Praga" class="px-3 pt-3 pb-9 w-full" />

   
    <!-- TEXT 6 : Parigi -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Parigi</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">12.12 / 19.12.2024 — European Space Agency (ESA)</h2>

    <img src="../../exhibitions/DSI_Parigi-01.jpg" alt="DSI in Paris" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Le Città dell'Universo” con Annalisa Dominoni e Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Ospitato da:</span><br> 
      Ambasciata d'Italia a Parigi<br> 
      <span class="font-NM-Book">Emanuela D'Alessandro / Ambasciatrice d'Italia</span><br><br>
      Rappresentanza Permanente d'Italia presso le Organizzazioni Internazionali a Parigi<br>
      <span class="font-NM-Book">Luca Sabbatucci / Rappresentante Permanente<br>
      Alessandra Fiumara / Addetta Spaziale</span>
    </p>

      <img src="../../exhibitions/DSI_Parigi-04.jpg" alt="DSI in Paris" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Parigi-02.jpg" alt="DSI in Paris" class="px-3 pb-3 w-full" />
      <img src="../../exhibitions/DSI_Parigi-03.jpg" alt="DSI in Paris" class="px-3 pt-3 pb-9 w-full" />


    <!-- TEXT 7 : Londra -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Londra</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">11.12.2024 — Ambasciata d'Italia a Londra</h2>

    <img src="../../exhibitions/DSI_Londra-01.jpg" alt="DSI a Londra" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Le Città dell'Universo” con Annalisa Dominoni e Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Ospitato da:</span><br> 
      Ambasciata d'Italia a Londra<br> 
      <span class="font-NM-Book">Inigo Lambertini / Ambasciatore d'talia<br>
        Umberto Bernardo / Capo dell'Ufficio Economico</span>
    </p>

      <img src="../../exhibitions/DSI_Londra-03.jpg" alt="DSI a Londra" class="pb-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Londra-02.jpg" alt="DSI a Londra" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Londra-04.jpg" alt="DSI a Londra" class="px-3 pt-3 pb-9 w-full" />

    
    <!-- TEXT 8 : Vienna -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Vienna</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">04.02.2025 — European Space Policy Institute (ESPI)</h2>

    <img src="../../exhibitions/DSI_Vienna-01.jpg" alt="DSI a Vienna" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Innovation Beauty Inspiration” con Luca Parmitano, Prada, Annalisa Dominoni e Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Ospitato da:</span><br> 
      Ambasciata d'Italia a Vienna<br> 
      <span class="font-NM-Book">Giovanni Pugliese / Ambasciatore d'talia<br>
        Amedeo Stalano / Consigliere Scientifico</span><br>
      Rappresentanza Permanente d'Italia presso le Organizzazioni Internazionali a Vienna<br> 
      <span class="font-NM-Book">Debora Lepre / Rappresentante Permanente</span><br>
      European Space Policy Institute (ESPI)
    </p>

      <img src="../../exhibitions/DSI_Vienna-02.jpg" alt="DSI a Vienna" class="pb-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Vienna-03.jpg" alt="DSI a Vienna" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Vienna-04.jpg" alt="DSI a Vienna" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Vienna-05.jpg" alt="DSI a Vienna" class="px-3 pt-3 pb-3 w-full" />


</main>
</Layout>