---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Design Spaziale Italiano" locale="it">

  <div class="fixed left-0 inset-0 h-screen w-screen -z-10">
    <video
      class="w-full h-full object-fill -z-20 "
      src="/video/sfondo sito 2.mp4"
      poster="/video/sfondo_sito_png_2k.webp"
      autoplay
      muted
      loop
      playsinline
      webkit-playsinline
    ></video>
  </div>

  <main class="lg:mb-24 no-scrollbar">
    <div class="flex pb-8 p-3">
      <img src="/svg/DSI_logo_esteso_02.svg" alt="logo">
    </div>
    
    <h2 class="text-2xl sm:text-4xl lg:text-3xl xl:text-4xl 2xl:text-5xl p-3 my-4 mb-12 text-white">
      Design Spaziale Italiano è un progetto multimediale itinerante curato da Annalisa Dominoni e Benedetto Quaquaro e promosso e finanziato dal Ministero degli Affari Esteri e della Cooperazione Internazionale al fine di valorizzare il ruolo strategico del Design per lo Spazio, un settore all'avanguardia nel nostro Paese di cui il Politecnico di Milano è stato pioniere già a partire dal 2001, contribuendo al suo sviluppo e alla sua affermazione.
    </h2>

   <div class="flex flex-col gap-6 p-3 text-base text-white sm:text-base md:text-lg lg:text-base xl:text-xl my-4">
        <p>
          <span class="font-NM-Book">Un progetto promosso da</span> <br>
          Ministero degli Affari Esteri e della Cooperazione Internazionale<br>
          <span class="font-NM-Book">Direzione Generale per la Promozione del Sistema Paese</span> <br>
          Alessandra Tognonato<br>
          <span class="font-NM-Book">Capo Ufficio IX per la Cooperazione Bilaterale</span><br>
          Emanuela Mennella<br>
          <span class="font-NM-Book">Funzionario Area Promozione Culturale Ufficio IX</span><br>
          Giorgio Centineo<br>
          <span class="font-NM-Book">Assistente amministrativo e contabile Ufficio IX</span>
        </p>
        <p>
          <span class="font-NM-Book">In collaborazione con</span><br>
          Politecnico di Milano<br>
          Dipartimento e Scuola del Design
        </p>
        <p>
          <span class="font-NM-Book">Curatori</span><br>
          Annalisa Dominoni<br>
          Benedetto Quaquaro
        </p>
        <p>
          <span class="font-NM-Book">Direzione scientifica</span><br>
          Annalisa Dominoni<br>
          Politecnico di Milano, Dipartimento di Design
        </p>
        <p>
          <span class="font-NM-Book">Partner scientifico</span><br>
          Agenzia Spaziale Europea (ESA)
        </p>
        <p>
          <span class="font-NM-Book">Progetto della mostra</span><br>
          Annalisa Dominoni<br>
          Benedetto Quaquaro
        </p>
        <p>
          <span class="font-NM-Book">Allestimento</span><br>
          Allestimenti Benfenati<br>
          Nolo Stand Fiera Milano
        </p>
        <p>
          <span class="font-NM-Book">Identità visiva, video/principi, catalogo, sito web</span><br>
          <a href="https://propp.it/" target="_blank" class="hover:text-blu transition-colors">propp.it</a>
        </p>
        <p>
          <span class="font-NM-Book">Video/sfide</span><br>
          Lab Immagine, Politecnico di Milano, Dipartimento di Design
        </p>
      </div>

  </main>
</Layout>