---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Scritti" locale="it">
  <main class="no-scrollbar lg:mb-24">
    <div class="bg-blu px-3 py-2 text-4xl text-white">Scritti</div>

    <!-- TEXT 1 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light ">—</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Ministro degli Affari Esteri e della Cooperazione Internazionale</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Promosso dalla Direzione Generale per la Promozione del Sistema Paese, in collaborazione con il Politecnico di Milano e nell'ambito dell'attività di promozione delle eccellenze scientifiche e tecnologiche italiane, il progetto <em>Design Spaziale Italiano</em> rappresenta una sintesi di innovazione, ricerca avanzata e visione strategica.<br><br>
        
      <em>Design Spaziale Italiano</em> si inserisce in un ambito altamente specialistico e ambizioso: quello della progettazione di soluzioni innovative per l'esplorazione spaziale, un settore in rapida evoluzione e cruciale per il futuro delle tecnologie aerospaziali italiane. L'aspetto innovativo del progetto non risiede solo nella sua capacità di rispondere alle sfide tecnologiche globali, ma anche nella capacità di coniugare la tradizione di eccellenza del nostro Paese nel settore del design con le più moderne tendenze scientifiche.<br><br>
      
      Grazie all'approccio multidisciplinare dei suoi ideatori e curatori, i professori del Politecnico di Milano Annalisa Dominoni e Benedetto Quaquaro, il progetto ha l'obiettivo di promuovere una visione innovativa del design italiano applicato allo Spazio, con soluzioni che coniugano estetica, funzionalità e sostenibilità. Il valore aggiunto di questa iniziativa è rappresentato dalla sinergia tra università, ricerca e istituzioni, un connubio che alimenta la crescita di competenze altamente professionali e innovative in un contesto internazionale.<br><br>
      
      L'Italia è impegnata da sessant'anni nell'esplorazione in ambito spaziale, che ha avuto inizio il 16 dicembre 1964 con il lancio del satellite S. Marco 1, sotto la spinta pionieristica del Generale Luigi Broglio, Preside della Scuola di Ingegneria Spaziale di Roma. Le innovazioni raggiunte nel campo della ricerca aerospaziale hanno trovato sin dagli albori applicazioni concrete nella quotidianità delle persone. I metodi di ricerca e l'utilizzo dei dati sono diventati oggi standard applicabili in numerosi campi di ricerca.<br><br>
      
      Da allora, la progettazione spaziale è stata fonte di sempre maggiori opportunità: <em>Design Spaziale Italiano</em> si è affermato come nuova frontiera del nostro saper fare, spingendosi alla progettazione in condizioni estreme per creare nuovi modi di abitare e adoperare gli oggetti e sfruttando la sperimentazione per ottimizzare la qualità della vita in orbita, come nell'esempio dei nuovi oggetti protesici. L'approccio innovativo della scienza aerospaziale consentirà ancora di superare i limiti attuali grazie alle ricadute tecnologiche e di design dell'industria italiana del futuro.</span>
    </p>

    <!-- TEXT 2 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">—</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Direttore Generale per la Promozione del Sistema Paese</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nulla nulla. Cras ac luctus lacus. Integer efficitur maximus tellus rutrum tempor. Suspendisse ac dictum odio. Sed faucibus pharetra libero nec finibus. Nam euismod laoreet augue, in aliquam erat placerat sed. Maecenas ac sem in velit consectetur sagittis ac id nibh. In sit amet ultrices libero. Praesent efficitur nisi non erat maximus, sit amet tristique orci sagittis. Sed et dui in ipsum lacinia semper. Etiam quis justo nisl. Aliquam molestie, sem vel vehicula suscipit, orci dui vehicula lectus, quis ultricies arcu enim varius lectus. Donec vel urna lacus. Etiam facilisis semper tempus. Sed quis arcu turpis. Quisque commodo orci at laoreet imperdiet. Donec dapibus mollis sodales. Mauris finibus odio ante, in placerat enim congue porta. Donec a malesuada risus, ut facilisis orci.<br><br>

      Sed in ligula sed enim eleifend tincidunt. Donec Etiam condimentum quis nisi sed elementum. Ut sit amet quam consequat, ornare sapien eget, congue nunc. Cras blandit leo lorem, vel fringilla velit vulputate et. Nam vel tempor purus. Vestibulum eget massa molestie, commodo nunc vitae, sodales nunc. Nam vel egestas neque, ac euismod ex. Praesent eu velit dui. Vestibulum commodo lorem non vehicula gravida. Aenean mauris dui, lobortis at fringilla et, dictum et lectus. Quisque et mauris id orci dapibus suscipit. Sed nec congue massa. Praesent pharetra elit a accumsan accumsan. Nulla maximus, massa vulputate sodales consequat, felis quam egestas urna, at ullamcorper enim velit ut massa.<br><br>

      Integer sodales faucibus nisl a pulvi ar. Cras tincidunt blandit nibh sed laoreet. Donec cursus quam lectus, vehicula lacinia dui ultrices eu. Ut ultrices rutrum metus in porta. Vestibulum ornare vehicula nisl. Curabitur ut magna id velit porttitor vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc cursus nisl ut consequat eleifend. Sed egestas fringilla justo sed porttitor. In dui sem, sollicitudin eu sollicitudin sit amet, fermentum eu ex. Praesent sit amet vulputate arcu. Nunc et sem mi. Nulla ac dignissim eros, sit amet feugiat dolor. Vivamus tincidunt mi id risus porta ornare. Etiam vulputate diam est, non eleifend arcu feugiat in. Aenean porta consequat scelerisque. Maecenas neque magna, tincidunt vel turpis sit amet, porta aliquet dui.<br><br>

      Morbi efficitur finibus sapien feugiat consectetur. In hac habitasse platea dictumst. Cras scelerisque ex quis neque finibus, vitae placerat lectus viverra. Sed lacinia dapibus ipsum, at facilisis lacus. Aliquam vel nisl posuere, fringilla sem fermentum, interdum risus.</span>
    </p>
    

    <!-- TEXT 3 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Donatella Sciuto</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Rettrice del Politecnico di Milano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Il Design per lo Spazio è, senza dubbio, un campo affascinante. Estetica, funzionalità, sicurezza e benessere: il suo valore risiede nella capacità di creare ambienti versatili che supportino la vita umana in condizioni estreme.<br><br>
        
      Ecco perché progettare nuovi ambienti nello Spazio significa, prima di tutto, innovare e sperimentare, sviluppare soluzioni inesplorate che possono trovare applicazione sulla Terra e migliorare la nostra vita quotidiana. Penso, per esempio, alle tecnologie per la gestione efficiente delle risorse e per il riciclo dell'acqua e dell'aria; alla coltivazione di cibo 3D e all'uso di microalghe sulla Luna; ai nuovi materiali e ai tessuti alternativi… Tutto questo rende il Design per lo Spazio un campo multidisciplinare che richiede creatività e competenza, progettazione e una profonda comprensione delle esigenze umane.  Le sfide rappresentate dallo Spazio - dalla ricerca all'economia, alla società – sono infatti molteplici e complesse. Tra le più significative ci sono la sostenibilità ambientale, così come l'inclusione (lo Spazio abbatte le barriere fisiche e offre un'opportunità unica per affrontare la disabilità in modo innovativo, come dimostrato dal lavoro con il parastronauta John McFall) e il trasferimento tecnologico, che unisce due settori di punta per la nostra economia (non dimentichiamo che attualmente il mercato della space economy ha un valore mondiale superiore ai 370 miliardi di dollari, destinato ad incrementare del 74% entro il 2030, e che l'Italia si posiziona al settimo posto per investimenti in rapporto al PIL).<br><br>
      
      <em>Design Spaziale Italiano</em> è quindi un progetto multimediale nella sua essenza e che per questo riflette la matrice “Poli-tecnica”. È dalla fine degli anni Novanta che il nostro Ateneo, grazie all'esperienza dei curatori, Annalisa Dominoni e Benedetto Quaquaro, vanta oltre un quarto di secolo di studi e di sperimentazioni. È questa la prima volta che i contenuti e i risultati di un corso (Space4InspirACTion, primo e unico caso supportato da ESA) sono riconosciuti a livello istituzionale e internazionale come un'eccellenza italiana a livello globale.<br><br>
      
      L'intesa e la collaborazione con il Ministero degli Affari Esteri e della Cooperazione Internazionale, così come le diverse tappe in giro per l'Europa e per il mondo, sanciscono un impegno importante nel raccontare e condividere con il grande pubblico una dimensione oggi alternativa, ma che, in un domani non tanto lontano, sarà parte della nostra realtà e della nostra evoluzione. Il Design per lo Spazio ci proietta verso un futuro in cui sarà possibile abitare su altri corpi celesti, adattarci a nuovi ambienti, modificare la percezione di noi stessi e l'interazione con l'ambiente circostante.<br><br>
      
      Questa nuova era inizia oggi.</span>
    </p>

    <!-- TEXT 4 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Amalia Ercoli Finzi</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Professoressa Onoraria Ingegneria Aerospaziale, Politecnico di Milano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book"><em>Design Spaziale Italiano</em> è un progetto che guarda lontano nello spazio e nel tempo: nello spazio perché propone soluzioni che troveranno la loro allocazione in contesti lontani dalla Terra, a distanze la cui unità di misura è l'Unità Astronomica, i 150 milioni di chilometri che separano la Terra dal Sole, e nel tempo, perché la loro realizzazione è prevista in un futuro forse non lontanissimo, ma certamente non nel domani di qualche anno.<br><br>
      
      “Design Spaziale”, dicevo, cioè in un ambito, quello delle attività spaziali, che a partire dal ”tempo 0”, il 4 Ottobre del 1957, data del lancio dello Sputnik, hanno avuto uno sviluppo impensato e impensabile, per la presenza in orbita dei tanti satelliti applicativi, ma soprattutto per le missioni di esplorazione planetaria, dove la sete di conoscenza trova la sua più alta e prestigiosa possibilità di espressione.<br><br>
      
      Ma perché Design Spaziale “Italiano”? Perché le attività italiane in campo spaziale hanno radici lontane, giusto agli albori dello stesso, quando le capacità, la competenza e la creatività italiane hanno consentito la messa in orbita di prodotti dai nomi evocativi, quali San Marco, Sirio, SAX…  per arrivare a Rosetta e ExoMars.<br><br>
      
      Un plauso quindi a questo progetto e ai suoi autori, Annalisa Dominoni e Benedetto Quaquaro, che, nella scia di tanto successo, hanno messo un punto fermo nella narrazione del <em>Design Spaziale Italiano</em>, a cui si ispirerà il Design Spaziale internazionale di domani, supportato “dalle capacità, dalla competenza e dalla creatività” dei nostri studiosi.<br><br>

      C.V.D. - Come Volevasi Dimostrare.</span>
    </p>

    <!-- TEXT 5 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Alessandro Deserti</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Direttore del Dipartimento di Design, Politecnico di Milano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book"><em>Design Spaziale Italiano</em> è un tributo all'eccellenza Italiana nel Design per lo Spazio e rappresenta un esempio straordinario di come il design possa unire creatività e innovazione, fungendo da ponte tra scienza, tecnologia e bellezza. Il progetto promuove e valorizza il ruolo del Design per lo Spazio, un ambito in cui l'Italia è stata pioniera e nel quale si è in particolare distinto il Politecnico di Milano.<br><br>
      
      Annalisa Dominoni e Benedetto Quaquaro, docenti della Scuola del Design del Politecnico di Milano, hanno saputo guidare questo progetto con una visione chiara e innovativa, proiettandoci verso un futuro in cui sarà possibile abitare su altri corpi celesti. Il loro lavoro esplora come la transizione dalla Terra allo Spazio possa trasformare la nostra fisiologia, postura, percezione dello spazio e le nostre interazioni quotidiane con gli oggetti.<br><br>
      
      Il progetto, presentato in prestigiose sedi diplomatiche come Bruxelles, Praga, Parigi, Londra e Vienna, si compone di eventi e mostre che includono prodotti fisici, contenuti digitali, installazioni, animazioni e video, e che comunicano efficacemente come la forma e il senso degli oggetti possano mutare in condizioni di gravità ridotta. Le tematiche affrontate nelle narrazioni costruiscono un unico racconto, caratterizzato da molte articolazioni e sfaccettature, nel quale emerge la capacità del design di generare innovazione attraverso prodotti sostenibili e inclusivi, anche nello Spazio.<br><br>
      
      L'augurio migliore che posso fare a un progetto nato nelle aule universitarie che celebra l'eccellenza italiana nel design a livello internazionale, è quello di offrire al pubblico più ampio un punto di vista aggiornato sul design italiano, raccontando da una prospettiva particolare come si sia evoluto entrando in molti nuovi ambiti di applicazione, e di essere fonte di ispirazione per le nuove generazioni di designer in Italia e all'estero.</span>
    </p>

    <!-- TEXT 6 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Francesco Zurlo</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Preside della Scuola del Design, Politecnico di Milano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Progettare per lo Spazio è tra le sfide più impegnative, oggi, per un progettista. La passione e la competenza che hanno caratterizzato e continueranno a caratterizzare il lavoro di Annalisa Dominoni e di Benedetto Quaquaro, professori di Disegno Industriale presso la laurea magistrale in Integrated Product Design del Politecnico di Milano, sono esemplari di queste sfide.<br><br>
        
      Ricordo la ricerca di Annalisa Dominoni al dottorato in Design del Politecnico: non ho memoria delle ricerche di miei altri colleghi del tempo ma posso ricordare con nitidezza gli stati di avanzamento del suo lavoro, pionieristico per il design.<br><br>
      
      In quel lavoro, come nelle successive attività esplorative e progettuali di Dominoni e Quaquaro, la chiave di lettura è duplice.<br><br>
      
      Da una parte mettere al centro la persona con le sue abilità e le sue esigenze, oltre la semplice dimensione d'uso (non “utente” ma “persona” appunto), rifunzionalizzando prodotti anche molto convenzionali (un vestito, un utensile, un attrezzo ginnico) associando loro significati. Tra i significati anche quella dimensione di bellezza che caratterizza ancora oggi l'approccio italiano al design e che contribuisce al sensemaking di tutto ciò che è artificiale e creato dall'uomo. Venti anni fa, quando questo percorso è iniziato, non c'erano ancora le iniziative di SpaceX o di altri tycoon interessati alla conquista di Marte o al turismo spaziale. C'erano alcuni balbettii di quello che oggi emerge come un nuovo contesto economico e una promettente attività di innovazione.<br><br>
      
      Dall'altra il fare riferimento, appunto, a una dimensione propria del design: l'innovazione. Dominoni e Quaquaro spiegano in modo preciso, anche grazie ai progetti esposti in questa mostra itinerante promossa dal MAECI, la reason-why di questa ricerca: il confronto con contesti a gravità zero, con condizioni ambientali inadatte alla vita (per come la conosciamo), con problematiche energetiche, nutrizionali, operative, medicali, pone sfide inedite. Sfide che però, come in un gioco di specchi, consentono di individuare soluzioni tecnologiche che siano funzionali anche qui sulla Terra. E non solo in ambienti estremi.<br><br>
      
      Il loro lavoro è anche una formidabile attività di imagineering: rende evidente la missione insita in ogni attività di progetto e cioè anticipare futuri possibili e sostenibili per gli esseri umani, per ciò che oggi definiamo more than human oltre che per le future generazioni. Il progresso ha bisogno di costruire consenso su questi futuri, creando il significato di ciò che verrà anche grazie a questo processo di ingegnerizzazione dell'immaginazione, a cui hanno contribuito moltissimo testi e film di science fiction, ma che trovano nei prototipi e nei modelli degli autori ulteriori attivatori di senso.<br><br>
      
      Per un futuro che verrà e che vedrà gli esseri umani sempre più protagonisti nello Spazio.</span>
    </p>

     <!-- TEXT 7 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Annalisa Dominoni, Benedetto Quaquaro</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Curatori di <em>Design Spaziale Italiano</em></h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6">
      <span class="font-NM-Book">Tutto nasce da una domanda: che cosa può fare il Design per migliorare le condizioni di chi si spinge oltre l'atmosfera terrestre con l'obiettivo di esplorare altri mondi? Nell'avvicinarci a un ambito tanto affascinante quanto sconosciuto (quando abbiamo iniziato lo Spazio era dominio solo di grandi agenzie nazionali) ci siamo resi conto che il Design può fare molto. Soprattutto essendo all'interno di un Ateneo, come il Politecnico di Milano, che sa fare “sistema” e ha potuto alimentare la natura multidisciplinare del Design arricchendola con la scienza e la tecnica.<br><br>
        
      Ma che cosa vuol dire Design? Se nel mondo anglosassone si riferisce al progettare nel suo senso più ampio, per noi significa innovare. La parola Design non indica semplicemente un prodotto “bello e ben fatto”, espressione del Made in Italy, ma un insieme di azioni progettuali mirate a migliorare la vita, l'esperienza, il modo di lavorare delle persone, soprattutto quando devono convivere in un ambiente difficile e ostile, caratterizzato da condizioni estreme, come il confinamento e la gravità ridotta, che non fanno parte della nostra vita terrestre.<br><br>
      
      Nello Spazio si altera la fisiologia, il nostro corpo cambia forma, è più difficile mantenere una posizione stabile, i sensi sono deprivati dagli stimoli naturali, mutano le percezioni e le relazioni con l'ambiente e con gli oggetti. Se per un astronauta vivere nello Spazio è come nascere di nuovo, per un progettista implica sviluppare una capacità “predittiva” per immaginare come i nuovi ambienti e oggetti reagiranno in condizioni fisiche diverse da quelle che conosciamo, come saranno usati, quali emozioni potranno suscitare e se davvero potranno incrementare il benessere.<br><br>
      
      Da oltre venticinque anni di ricerca, didattica e progettazione il nostro obiettivo è spostare in avanti il limite del comfort, sia fisico che psicologico, per aumentare la qualità delle performance e la riuscita di una missione spaziale, ma anche per generare trasferimenti di conoscenza fra lo Spazio e la Terra e viceversa. Questo è ancora più importante oggi in cui lo sfruttamento commerciale dello Spazio sta trasformando il senso dei viaggi spaziali e la figura dell'astronauta, che non sarà più solo uno scienziato o un tecnico specializzato, ma anche un turista poco addestrato alla ricerca di esperienze uniche e straordinarie.<br><br>
      
      È stato e continua ad essere un viaggio entusiasmante, che negli anni ci ha fatto incontrare aziende, persone e tecnologie d'avanguardia che rappresentano quanto di meglio il nostro Paese può offrire in termini di ingegno, creatività e capacità di innovare.<br><br>
      
      <em>Design Spaziale Italiano</em> racconta questo viaggio. Fra scienza, tecnologia e bellezza.</span>
    </p>
  
  </main>
</Layout>

<style></style>
